<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.untaek.oneroom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDnDhTHOYef5WS07uA9fo2jUQo5Pki_RxE" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".act.BoardPostActivity" />
        <activity android:name=".act.LoginActivity" />
        <activity android:name=".act.SignUpActivity" />
        <activity android:name=".act.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".act.Board1Activity" />
        <activity android:name=".act.BoardWriteActivity" />
        <activity android:name=".act.RoomPostDetailActivity" />
        <activity android:name=".act.RoomPostActivity" />
        <activity android:name=".act.RoomRegisterActivity" />
        <activity android:name=".act.RoomSellActivity" />
        <activity android:name=".act.RoomRegisterListActivity" />
        <activity android:name=".act.RoomFindMapActivity" />
        <activity android:name=".act.RoomMyPostListActivity"></activity>
    </application>

</manifest>